#all{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 90%;
    margin: auto;
}

#nav{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 2% 5% 2% 4%;
    margin: auto;
}

input{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: none;
    padding: 1.1% 30% 1.1% 1%;
    margin-right: -2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}


button{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1% 2% 1% 2%;
    margin-left: -2px;
}

#box{
    display: flex;
    margin: auto;
}

.mapouter{
    width: 60%;
}
#container{
    height: auto;
    width: 40%;
}

#container > div > div:first-child{
    padding: 3%;
}

#container > div > div >div:first-child {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

#container > div > div >div:first-child>h1{
   margin: 1%;
}

#container > div > div >div:first-child>p:first-child{
    margin: 1%;
    color: red;
 }

#container > div > div >div {
    display: flex;
    height: auto;
    width: 100%;
}

#container > div > div >div > div {
    height: auto;
    width: 100%;
}

#container > div > div >div > div:first-child {
    border-left: 3px solid rgb(250, 26, 26);
    padding-left: 3%;

}

